<div class="wrapper">
    <div class="center-box center-box--sm">
        <form novalidate name="form.login" ng-submit="submit(form.login, formdata.login)">

            <input name="email"
                required
                type="email" 
                ng-model="formdata.login.email" 
                placeholder="Email"
                ng-class="{ 'has-error': form.login.email.$invalid && form.login.email.$touched }"
            >

            <input name="password"
                required
                type="password" 
                ng-model="formdata.login.password" 
                placeholder="Password"
                ng-class="{ 'has-error': form.login.password.$invalid && form.login.password.$touched }"
            >

            <input type="submit" value="Login" ng-disabled="form.login.$invalid || loading">

        </form>
    </div>
</div>