$padding: 15px;
$padding-lg: 30px;

$width-sm: 300px;
$width-md: 500px;
$width-lg: 700px;

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    padding: $padding-lg;

    .center-box {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
    }
    
    .center-box--sm { max-width: $width-sm; }
    .center-box--md { max-width: $width-md; }
    .center-box--lg { max-width: $width-lg; }

    .center-box--full {
        height: 100%;
    }
}

